<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Simple Chat App</title>
  </head>

<!-- Body -->
<body onload="startTime()">



	<!-- Heading -->
	<!-- <h1>NEW YORK WEATHER WIDGET</h1> -->
	<!-- //Headng -->



		<!-- Container -->
		<div class="container">

			<!-- City -->
			<div class="city">
				<div class="title">
					<h2>Hanoi</h2>
					<h3>Vietnam</h3>
				</div>
				<div class="date-time">
					<div class="dmy">
						<div id="txt"></div>
						<div class="date">
							<!-- Date-JavaScript -->
							<script type="text/javascript">
							var mydate=new Date()
							var year=mydate.getYear()
							if(year<1000)
							year+=1900
							var day=mydate.getDay()
							var month=mydate.getMonth()
							var daym=mydate.getDate()
							if(daym<10)
							daym="0"+daym
							var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
							var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
							document.write(""+dayarray[day]+", "+montharray[month]+" "+daym+", "+year+"")
							</script>
							<!-- //Date-JavaScript -->
						</div>
					</div>
					<div class="temperature">
						<p><%= temp %><span>째C</span></p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<!-- //City -->



			<!-- Forecast -->
			<div class="forecast">

          <div class="icon cloud hidden">
            <img id="animate" src="http://openweathermap.org/img/w/04d.png">
				</div>
				<div class="today-weather">
					<h3><%= desc %></h3>
					<ul>
						<li>Feels like <span> <%= feels_like %>째C</span></li>
						<li>Lowest temperature <span> <%= temp_min %>째C</span></li>
						<li>Highest temperature <span> <%= temp_max %>째C</span></li>
						<li>Pressure <span> <%= pressure %>mb</span></li>
						<li>Humidity <span> <%= humidity %>%</span></li>
					</ul>
				</div>
			</div>
			<!-- //Forecast -->
			<div class="clear"></div>

		</div>
		<!-- //Container -->



	<!-- Footer -->
	<div class="footer">

		<!-- Copyright -->
		<div class="copyright">
			<p> &copy; 2016 New York Weather Widget. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
		<!-- //Copyright -->

	</div>
	<!-- //Footer -->



	<!-- Custom-JavaScript-Files -->

		<!-- Time-JavaScript -->
		<script>
			function startTime() {
				var today = new Date();
				var h = today.getHours();
				var m = today.getMinutes();
				var s = today.getSeconds();
				m = checkTime(m);
				s = checkTime(s);
				document.getElementById('txt').innerHTML =
				h + ":" + m + ":" + s;
				var t = setTimeout(startTime, 500);
				}
				function checkTime(i) {
				if (i < 10) {i = "0" + i}; // add zero in front of numbers < 10
				return i;
			}
		</script>
		<!-- //Time-JavaScript -->

	<!-- //Custom-JavaScript-File-Links -->



</body>
<!-- //Body -->

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="weather.js"></script>
</html>

<style>

</style>
